components-showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 70%;
  margin-bottom: 64px;
}

.showcase-image > img {
  max-width: 500px;
  width: 80%;
  height: auto;
  object-fit: contain;
}

.showcase-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.showcase-image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 320px;
  aspect-ratio: 1 / 1;
  background: var(--notification-bg);
  border-radius: 50%;
  z-index: -1;
}

.text-start {
  text-align: center;
}

.text-end {
  text-align: center;
}

@media screen and (max-width: 64rem) {
  components-showcase {
    flex-direction: column !important;
    gap: 24px;
    padding-bottom: 64px;
    width: 90%;
  }

  components-title {
    font-size: 38px;
  }

  components-showcase:not(:last-of-type) {
    border-bottom: 1px solid var(--highlight);
  }

  .text-start,
  .text-end {
    text-align: center !important;
  }

  components-showcase p {
    text-align: center !important;
  }
}
