body {
  color: var(--text-primary);
  padding-bottom: 64px;
}

main {
  display: block;
  width: 80%;
  margin: 0 auto;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--text-primary);
}

section:not(:last-of-type) {
  margin-bottom: 64px;
}
